@using ASPCourse.Models
@model List<SucursalCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Agregar","Agregar","Sucursal",null,new { @class="btn btn-primary"})
<table class="table table-bordered table-hover"  >
    <thead>
        <tr>

            <th>@Html.LabelFor(x => x[0].iidsucursal)</th>
            <th>@Html.LabelFor(x => x[0].nombre)</th>
            <th>@Html.LabelFor(x => x[0].telefono)</th>
            <th>@Html.LabelFor(x => x[0].email)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.iidsucursal</td>
            <td>@item.nombre</td>
            <td>@item.telefono</td>
            <td>@item.email</td>
        </tr>
        }
    </tbody>
</table>
